{% extends 'authapp/base.html' %}
{% load static %}

{% block menu %}
    <div class="menu">
       <div class="menu-elements">
        <ul class="menu-list">
            <li class="menu-element"><a class="menu-element-href" href="{% url 'mainapp:main' %}">News</a></li>
            <li class="menu-element"><a class="menu-element-href" href="{% url 'mainapp:playlists' %}">Albums</a></li>
            <li class="menu-element"><a class="menu-element-pressed" href="{% url 'mainapp:accounts' %}">Connected accounts</a></li>
            <li class="menu-element"><a class="menu-element-href" href="{% url 'mainapp:friends' %}">Friends</a></li>
            <li class="menu-element"><a href="{% url 'auth:edit' %}" class="menu-element-href">Settings</a></li>
            <li class="log-out-element"><a class="menu-element-href" href="{% url 'auth:logout' %}">Log out</a></li>
            <li class="photo-element"><a href="{% url 'mainapp:account' %}" ><img src="{% static 'img/gramophone.png' %}" alt="photo"></a></li>
        </ul>
    </div>
    </div>
{% endblock %}
{% block content %}
<div class="signin-content">
 <div class="middle-block-signin">
  <div class="signin_block">
    <div class="signin_block_inside">
    <h1 class="sigin_text">Enter your Yandex Music account information</h1>
    <p>If you've already connected a Yandex Music account and decide to connect a new one, your previous music collections will be removed.</p>
    <form class="form_signin" action="{% url 'auth:connectYM' %}" method="post">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <br>
        <input class="signin_button" type="submit" value="Add account">
    </form>
{% endblock %}
